# Environment parameters

env: gazeboros-v0
state_dim: 27
action_dim: 2
action_low: -1
action_high: 1
num_agents: 4
random_seed: 2019
run_name: base_line
use_base_line: 1
project_name: follow_ahead_d4pg_v1_auto
policy_weights: results/
policy_weights_best: results/policy_best2.pt
value_weights: results/
value_weights_best: results/value_best2.pt

# Training parameters

model: d4pg
batch_size: 1024
num_steps_train: 9000000 # number of episodes from all agents
max_ep_length: 80 # maximum number of steps per episode
replay_mem_size: 12500 # maximum capacity of replay memory
priority_alpha: 0.6 # controls the randomness vs prioritisation of the prioritised sampling (0.0 = Uniform sampling, 1.0 = Greedy prioritisation)
priority_beta_start: 0.4 # starting value of beta - controls to what degree IS weights influence the gradient updates to correct for the bias introduces by priority sampling (0 - no correction, 1 - full correction)
priority_beta_end: 1 # beta will be linearly annelaed from its start value to this value thoughout training
discount_rate: 0.99 # Discount rate (gamma) for future rewards
n_step_returns: 5 # number of future steps to collect experiences for N-step returns
update_agent_ep: 1 # agent gets latest parameters from learner every update_agent_ep episodes
replay_queue_size: 64 # queue with replays from all the agents
batch_queue_size: 64 # queue with batches given to learner
replay_memory_prioritized: 0
num_episode_save: 1000
device: cuda


# Network parameters

critic_learning_rate: 0.0005
actor_learning_rate: 0.0005
dense_size: 400 # size of the 2 hidden layers in networks
final_layer_init: 0.003
num_atoms: 51 # number of atoms in output layer of distributed critic
v_min: -20.0 # lower bound of critic value output distribution
v_max: 0.0 # upper bound of critic value output distribution
tau: 0.001 # parameter for soft target network updates

# Miscellaneous
results_path: results

